<nav class="top-bar">
  <div class="row column">
    <nav class="top-bar">
      <div class="top-bar-title">
        <a class="menu-text" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            {% for my_page in site.pages %}
              {% if my_page.title %}
                <li><a href="{{ my_page.permalink | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav>
